repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
        args: [--line-length=90]

  - repo: https://github.com/kumaraditya303/mirrors-pyright
    rev: v1.1.227
    hooks:
      - id: pyright

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

  - repo: local
    hooks:
      - id: coverage
        name: code-coverage
        language: system
        entry: pytest --cov=./ --cov-report=xml --cov-fail-under=80
        types: [python]
